version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: pagina_web_vicky_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pagina_web_vicky
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

